*
{
    margin: 0;
    padding: 0;
    overflow: hidden ;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.point {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: rgba(255, 255, 255, 0.57);
    width: 32px;
    height: 32px;
    background: rgba(32, 32, 32, 0.75);
    align-items: center;
    justify-content: center;
    border: white solid 1px;
    border-radius: 16px;
    opacity: 0.85;
}

.visible {
    display: flex;
}

.point:hover {
    background: rgba(32, 32, 32, 0.82);

}

.clicked {
    animation: pulse 0.5s ease-in;
}

@keyframes pulse {
    50% {
        box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.57);
        opacity: 1;
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.57);
        opacity: 0.85;
    }
}

@keyframes scaling {
    100% {
        transform: scale(0);
    }
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    z-index:2;
    justify-content: center;
    align-items: center;
}

.modal .card {
    display: flex;
    position: absolute;
    width: 500px;
    height: 300px;
    background: rgb(98, 98, 98);
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}